
            body{
                margin: 0%;

                font-family: 'Gill Sans', 'Gill Sans MT', , 'Trebuchet MS', monospace;
            }
            #top {
                text-decoration: none;
                margin-top: 0px;
                width: 71%;
                margin-left: 0px;
                padding-bottom: 5px;
                padding-left: 120px;
            }
            #top a{
                text-decoration: none;
                font-size: bold;
                text-transform: capitalize;
            }
            #logo
            {
                background-color: darkslategrey;
                padding-top: 3px;
                padding-bottom: 3px;
            }
#logo ul{
    list-style-type: none;
    text-align: right;
}
#logo ul li {
overflow: visible;
    display: inline;
}
ul li a {
    text-decoration: none;

      text-decoration: none;
                color: rgb(255, 255, 255);
                padding: 8px;
                font-size: 4;
}
#header h4{
    background-color: rgb(0, 173, 0);
                text-align: center;
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 5px;
                padding-bottom: 5px;
                color: azure;
            
}
#top button{
    width: 150px;
}
#content h4{
    padding: left;
} 
#content{
     background-color: rgb(255, 255, 255);
                width: 80%;
                height: 150px;
                margin-left: 110px;
                box-shadow: 0 0px 8px 0 rgba(12, 11, 11, 0.2)
        
            
}
 #content #date 
{
background-color: rgb(129, 129, 129);
                width: 8%;
                height: 155px;
                align-items:center;
                bottom: 150px;

            }

            #content #date p{
                padding-top:50px;
                padding-left: 15px;
              
            }

}


            
#img{
               position: center;
               left:30px;
               bottom: 150px;
               width:20%;
               height: 200px;
           
            }
            img{
               position: relative;
               left:100px;
               bottom: 40px;
               width:20%;
               height: 180px;
               background-color: rgb(255, 255, 255);
               text-size-adjust: bold;
            }
            #last{
                position: relative;
                bottom: 290px;
                left: 0px;
                
                float: right;
                width: 15%;
                height: 150px;
             
                text-align: center;
            }
            #last a{
                text-decoration: none;
            }
            #last button{
                background-color: rgb(46, 143, 1);
                border-radius: 20px;
                height: 30px;
                border: none;
                color: aliceblue;
            }
            #text{
                position: relative;
                bottom: 180px;
                left: 90px;
                width: 70%;
                height: 100px;
                padding-left:90px;
            }
            #text h3{
                padding-top: 5px;
                color: rgb(1, 118, 228);
            }
